body{

    background-color: rgb(142, 142, 214);
}
.container{
  align-items: center;
  width: 100%;
  max-width: 1000px;
  background: #fff;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}
#footer{
   width: 100%;
    
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}
#footer p{
    margin: 0;
}
