body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
.box{
    background-color: rgb(171, 104, 115);
    padding: 20px;
    margin: 3px;
    border-radius: 4px;
}
.box{
    background-color: rgb(80, 80, 154);
    padding: 20px;
    margin: 3px;
    border-radius: 4px;
}
.title{
    margin-top: 0;
    color: #2c3e50;   
    
}
.btn{
    padding: 10px;
    background-color: antiquewhite;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
    transition: background 0.3s;
}
.btn:hover{
    background-color: green;
}
#header{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}
#header h1{
    margin: 0;
    font-size: 28px;
}
#menu{
    background-color: #34495e;
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
#menu ul li{
    position: relative; 
}
#menu ul li a{
    display: block;
    padding: 15px;
}
#menu ul li:hover{
    background-color: green;
}
#menu ul li ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: #34495e;
    min-width: 180px;
    flex-direction: column;
    z-index: 100;
}
#menu ul li:hover ul{
    display: flex;
}
#menu ul li ul li ul{
    top: 0;
    left: 100%;
}

#nav ul li ul li {
    position: relative; 
}
#nav ul li ul li a{
    display: block;
    padding: 15px;
}
#nav ul li ul li ul :hover{
    background-color: green;
}
#nav ul li ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: #34495e;
    min-width: 180px;
    flex-direction: column;
    z-index: 100;
}
#nav ul li ul li ul li ul  :hover ul{
    display: flex;
}
#nav ul li ul li ul li ul {
    top: 0;
    left: 100%;
}








#main{
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
}
#content{
    flex: 3;
}
#sidebar{
    flex: 1;
}
#about{
      display: flex;
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;

}
#banner{
    flex:3;

}
#box{
    flex:1;
}
#face{
    flex: 3;

}
#box{
flex: 1;
}





#footer{


    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}
#footer p{
    margin: 0;
}